body{
    background-color:hsl(30, 38%, 92%);
}

.card {
    width: 50rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    border-radius: 14px;
    background-color: white;
    font-family: "Fraunces", sans-serif;
    font-weight: 500;
}

.picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image{
    content: url(./images/image-product-desktop.jpg);
    width: 100%;
    height: 100%; 
    object-fit: contain;
    border-radius: 14px 0 0 14px;
}

.infos{
    padding: 36px;
    width: 40rem;
    color: hsl(228, 12%, 48%);
}

.infos *{
    margin-bottom: 30px;
}

.product-type{
    letter-spacing: 8px;
    font-size: 14px;
}

.product-title{
    color: hsl(212, 21%, 14%);
    font-weight: 700;
    font-size: 56px;
    font-family: "Montserrat";
    line-height: 46px;
}

.detail{
    font-size: 14px;
    line-height: 30px
}

.prices{
    display: flex;
    flex-direction: row;
}

.prices *{
    font-family: "Montserrat";
}

.current-price{
    color: hsl(158, 36%, 37%);
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 40px;
}

.old-price{
    margin-left: 2rem;
    margin-top: 15px;
}

.add-card-button{
    margin: 0;
}

.add-card-button button{
    width: 100%;
    background-color: hsl(158, 36%, 37%);
    height: 3rem;
    border-radius: 12px;
    color: white;
    border: none;
}

.add-card-button button:hover{
    background-color: rgb(4, 66, 43);
    cursor: pointer;
}

@media screen and (max-width: 375px) {
    .card{
        flex-direction: column;
        width: 20rem;
        height: 35rem;
    }
    .picture{
        flex-grow: 1;
    }
    .image{
        content: url(./images/image-product-mobile.jpg);
        width: 12rem; 
        object-fit: contain;
        border-radius: 14px 14px 0 0;
    }
    .infos{
        flex-grow: 2;
    }
  }